@model Zinger.Models.Zinger_Replies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zinger_Replies</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Replying_Zinger_ID)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Replying_Zinger_ID)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Replying_U_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Replying_U_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zinger_Reply_Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zinger_Reply_Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Time_Stamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date_Time_Stamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Replying_Zinger_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
