@model IEnumerable<Zinger.Models.Zinger_Replies>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Replying_Zinger_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Replying_U_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zinger_Reply_Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Time_Stamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Replying_Zinger_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Replying_U_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zinger_Reply_Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Time_Stamp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Replying_Zinger_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Replying_Zinger_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Replying_Zinger_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
